{% extends 'basedashboard.html' %}

{% block titulo  %} PERFIL  {% endblock %}

{% block main %}

<div class="container-title-newuser">
	<h3 class="title-user"> Editar Perfil </h3>
</div>

<div class="container-newuser">
    <div class="content-newuser">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <label>Nome:</label>
                <p>{{ form2.first_name }}</p>
                <label>Sobrenome:</label>
                <p>{{ form2.last_name }}</p>
                <label>Email:</label>
                <p>{{ form2.email }}</p>
                <label>Foto:</label>
                {{form.photo}}
                <a id="btn-edit-pass" href="{% url 'editpassword' %}" class="btn-statusticket-salvar"> Editar Senha </a>
                <div class="btns-edit">
                    <button onclick="confirmation()" class="btn-statusticket-salvar" type="submit"> Salvar </button>
                    <a class="btn-statusticket-cancelar" type="button" href="{% url 'users' %}"/>CANCELAR</a>
                </div>
        </form>
    </div>

</div>
<script>
    function confirmation() {
        alert("Alterações salvas com sucesso!");
    }
</script>
{% endblock %}