{% extends 'basedashboard.html' %}

{% block titulo  %} Perfil  {% endblock %}

{% block main %}

<div class="container-title-newuser">
	<h3 class="title-user"> Perfil </h3>
</div>

<div class="container-newuser">
    <div class="content-newuser">
        <form action="" method="post">
            {% csrf_token %}
                <label>Nome:</label>
                <p>{{ form.first_name }}</p>
                <label>Sobrenome:</label>
                <p>{{ form.last_name }}</p>
                <label>Email:</label>
                <p>{{ form.email }}</p>
                <label>Nome de usuário:</label>
                <p>{{ form.username }}</p>
                <label>Foto:</label>
                <p>{{ form.anexo }}</p>
            <button onclick="confirmation()" class="btn-newuser" type="submit"> Editar </button>
        </form>
    </div>
</div>
<script>
    function confirmation() {
        alert("Usuário cadastrado com sucesso!");
    }
</script>
{% endblock %}