{% extends 'basedashboard.html' %}

{% block titulo  %} Usuários  {% endblock %}

{% block main %}

<div class="container-adm">
	<h2> Cadastrar Usuário </h2>
</div>

<div class="container-adm-list">
    <div class="content-adm-list">
        <form action="" method="post">
            {% csrf_token %}
            <div class="cad">
                <p>Nome: {{ form.first_name }}</p>
                <p>Sobrenome: {{ form.last_name }}</p>
                <p>Email: {{ form.email }}</p>
                <p>Usuário: {{ form.username }}</p>
                <p>Senha: {{ form.password }}</p>
            </div>
            <button class="btn-newuser" type="submit"> Cadastro </button>
        </form>
    </div>
</div>

{% endblock %}
    