{% extends 'basedashboard.html' %}

{% block titulo  %} USUÁRIOS {% endblock %}

{% block main %}

<div class="container-user">
    <h3 class="title-user"> Usuários no Sistema </h3>
    <a href="{% url 'newUser' %}" class="btn">
        <div class="btn-new"> NOVO USUÁRIO </div>
    </a>
</div>

<div class="container-user-list">
    <div class="content-user-list">
        <table class="list">
            {% for user in userList %}
                {% if user.username != "admin" %}
                    <tr>
                        <td class="list-font">
                            Nome: {{user.first_name}} {{user.last_name}} <br>
                            Usuário: {{ user.username }} 
                        </td>
                        <td class="list-font"> 
                            Email: {{ user.email }} 
                        </td>
                        <td>
                            <a href="{% url 'edit' user.id %}">
                                <img class="icon-user" src="../static/images/icon-edit.png">
                            </a>
                            <a href="{% url 'user_delete' user.id %}">
                                <img class="icon-user" src="../static/images/icon-delete.png">
                            </a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
