<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <title> Helpdesk </title>
      <meta name="viewport" content="width=device-width, inital-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" href="../static/css/reset.css">
      <link rel="stylesheet" href="../static/css/colors.css">
      <link rel="stylesheet" href="../static/css/nav.css">
      <link rel="stylesheet" href="../static/css/ticket.css">
      <link rel="stylesheet" href="../static/css/featured.css">
      <link rel="stylesheet" href="../static/css/about.css">
      <link rel="stylesheet" href="../static/css/contact.css">
      <link rel="stylesheet" href="../static/css/footer.css">
      <link rel="stylesheet" href="../static/css/slider.css">
</head>

<header class="header">
      <div class="content-header">
            <a href="{% url 'home' %}">
                  <img class="logo" src="../static/images/logo.png">
            </a>
            <a class="links" href="#contact"><h4>contato</h4></a>
            <a class="links" href="#about" ><h4>sobre</h4></a>
                {% if user.is_authenticated %}
                    <a class="links" href="{% url 'logout' %}">
                    <div class="btn-login"> Olá {{ user.username }}</div>
                {% else %}
                    <a class="links" href="{% url 'login' %}">
                    <div class="btn-login">entrar</div>
                {% endif %}

            </a>
      </div>
</header>

<body>
      <div class="container">
            <div class="content-body">
                  <h1>Software Gratuito <br> para Atendimento <br> ao Cliente</h1>
                  <a class="links" href="{% url 'optionticket' %}">
                        <div class="btn-ticket">tickets</div>
                  </a>
                  <img class="icon" src="../static/images/icon.png">
            </div>
      </div>
      <div class="about">
            <h1>Organize sua equipe de atendimento ao cliente<br>
                  gratuitamente com nosso software.</h1>
      </div>
      <div class="container-featured">
            <div class="content-featured">
                  <div class="primary-featured">
                        <h3> DIMINUIÇÃO DE CUSTOS </h3>
                        <p> O helpdesk é um instrumento automatizado 
                              E, graças à tecnologia, este recurso é bastante 
                              econômico.</p>
                  </div>
                  <div class="secondary-featured">
                        <h3> + PRODUTIVIDADE <br>- BUROCRACIA</h3> </h3>
                        <p> solucione problemas simples ocupando o tempo de profissionais 
                              apenas com questões que realmente necessitam de mais atenção.</p>
                  </div>
                  <div class="third-featured">
                        <h3> EXPERIÊNCIA DO USUÁRIO </h3>
                        <p> A experiência do cliente é o segredo para uma carteira de 
                            consumidores sólida, durável e lucrativa.</p>
                  </div>
            </div>
      </div>
      <div id="about" class="container-about">
            <div class="content-about">
                  <h1> Sobre </h1>
                  <h3> 
                        Atualmente no Brasil poucas empresas de pequeno e médio porte investem em um atendimento ao 
cliente de qualidade
normalmente devido a um orçamento restrito acabam focando seus investimentos em
vendas e aumento da produção e acabam deixando de lado a experiência do usuário. Devido
a esse problema foi proposto um sistema helpdesk, gratuito, inspirado no modelo de 
resolução de problemas do ITIL Guide V3, tornando sua empresa mais rápida e competente com foco na resolução de processos,
atendimento, gestão de equipes e pessoas, utilizando as melhores e mais consistentes práticas
do mercado. Diminuímos a burocracia e contenção de erros, além de sanar as dificuldades
impressione o cliente com a prática da empatia.
O software foi desenvolvido por alunos do 6º período da Universidade Federal da Paraíba Campus IV, do curso
Sistemas de Informação a partir de um projeto da disciplina "Projeto Avançado de Software I".

                  </h3>
            </div>
      </div>

      <div class="container-slider">
            <h1> Sistema </h1>
            <div class="content-slider">
            </div>
      </div>

      <div id="contact" class="container-contact">
            <h1 class="contact-title"> Contato </h1>
            <div class="content-contact">
                  <div class="profile">
                        <div class="photo" id="herbert">
                              <a href="https://www.linkedin.com/in/herbertcordeiro/"> </a>
                        </div>
                        <h4> Herbert Cordeiro </h4>
                        <p> Desenvolvedor e UX Designer </p>
                  </div>
                  <div class="profile">
                        <div class="photo" id="johnny">
                              <a href="https://www.linkedin.com/in/johnnyhonorato/"> </a>
                        </div>
                        <h4> Johnny Menezes </h4>
                        <p> Desenvolvedor </p>
                  </div>
                  <div class="profile">
                        <div class="photo" id="kalber">
                              <a href="https://www.linkedin.com/in/kalber-roberto-2998a516b/"> </a>
                        </div>
                        <h4> Kalber Roberto </h4>
                        <p> Desenvolvedor</p>
                  </div>
                  <div class="profile">
                        <div class="photo" id="gutho">
                              <a href="https://www.linkedin.com/in/guthyelvis-santos-863a9716b/"> </a>
                        </div>
                        <h4> Guthyelvis Santos </h4>
                        <p> Desenvolvedor </p>
                  </div>
                  <div class="profile">
                        <div class="photo" id="gabi">
                              <a href="https://www.linkedin.com/in/gabriela-andrade-a0162a152/"> </a>
                        </div>
                        <h4> Gabriela Andrade </h4>
                        <p> Desenvolvedora </p>
                  </div>
            </div>
            <div class="content-social">
                  <div class="icon-face" >
                        <a href="#"> 
                              <img src="../static/images/icon-face.png">
                        </a>                  
                  </div>
                  <div class="icon-git" >
                        <a href="https://github.com/herbertcordeiro/helpdesk"> 
                              <img src="../static/images/icon-git.png">
                        </a>
                  </div> 
            </div>
            <h2 class="email">contato@helpdesk.com</h2>
      </div>
      <script type="text/javascript" src="src/js/index.js"></script>
</body>

<footer>
      <p>Copyright © 2018</p>
</footer>

</html>