<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> Login - Helpdesk </title>
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <div class="content-left">
        <a href="{% url 'home' %}">
            <img class="logo" src="../static/images/logo.png">
        </a>
    </div>
    <div class="content-rigth">
      	<div class="content-login">
            <div class="login">
              {% block title %}<strong>Defina uma nova senha</strong>{% endblock %}
              {% block content %}
              <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input onclick="confirmation()" class="btn" type="submit" value="SALVAR">
              </form>
              {% endblock %}
            </div>
          </div> 
      </div>
      <script>
      function confirmation() {
        alert("Redefinição de senha concluida!");
      }
</script>
</body>

</html>