<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> Login - Helpdesk </title>
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <div class="content-left">
        <a href="{% url 'home' %}">
            <img class="logo" src="../static/images/logo.png">
        </a>
    </div>
    <div class="content-rigth">
      	<div class="content-login">
            <div class="login">
              {% block title %}<strong>Esqueceu sua senha?</strong>{% endblock %}
              {% block content %}
                <p>Digite seu endereço de e-mail abaixo e enviaremos instruções por e-mail para configurar um novo.</p>
                <form method="POST">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <input class="btn-es" onclick="confirmation()" type="submit" value="ENVIhffdhghdfhfghAR">
                   <button class="btn-es" onclick = "window.location.href="#">
                            voltar
                   </button>
                </form>
              </div>
              {% endblock %}
            </div>
          </div> 
      </div>
      <script>
      function confirmation() {
        alert("Verifique sua caixa de entrada. Enviamos-lhe instruções para definir a sua senha. Você deve receber o email em breve!");
      }
</script>
</body>

</html>