{% extends 'basedashboard.html' %}

{% block titulo  %} AJUSTES  {% endblock %}

{% block main %}

<div class="container-title-newuser">
	<h3 class="title-user"> Cadastrar Categoria </h3>
</div>

<div class="container-newuser">
    <div class="content-newuser">
        <form action="" method="post">
            {% csrf_token %}
            <label>Nome da categoria:</label>
            <p>{{ form.nome }}</p>
            <div class="btns-edit">
                <button onclick="confirmation()" class="btn-statusticket-salvar" type="submit"> Salvar </button>
                <a class="btn-statusticket-cancelar" type="button" href="{% url 'inicial' %}"/>CANCELAR</a>
            </div>        
        </form>
    </div>
</div>
<script>
    function confirmation() {
        alert("Categoria cadastrada com sucesso!");
    }
</script>
{% endblock %}