.container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 280px auto;
    grid-template-areas: "dash body";
}

.content-dash {
    grid-area: dash;
    background-color: var(--dark-gray);
}

.container-body {
    grid-area: body;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 70px 70px auto;
    grid-template-areas: "nav""title""list";
}

.content-nav {
    display: grid;
    grid-area: nav;
    grid-template-columns: 95% 5%;
    background-color: var(--light-gray);
}

.content-title {
    grid-area: title;
    background-color: var(--white);
}

.container-list {
    width: 100%;
    grid-area: list;
    background-color: var(--light-gray);
}

.title-option {
    padding-left: 60px;
    padding-top: 24px;
    color: var(--dark-gray);
}

.profile-admin {
    display: grid;
    width: 100%;
    height: 260px;
    justify-content: center;
    color: var(--white);
    text-align: center;
}

.photo-admin {
    border-radius: 100%;
    width: 120px;
    height: 120px;
    background-color: var(--white);
    margin-top: 60px;
}

.option {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "icon""name";
    height: 65px;
    align-content: center;
}

.option p {
    color: var(--white);
    font-size: 0.8em;
}

.icon {
    width: 20px;
    margin-left: 30px;
}

.option:hover {
    background-color: var(--gray);
    border-left: 2pt solid var(--dark-red);
}

.logout-part,
.notification-part {
    display: grid;
    align-content: center;
    justify-content: end;
    padding: 20px;
}

.icon-nav {
    width: 20px;
}