.container-featured {
    display: grid;
    width: 100%;
    background-color: var(--light-gray);
}

.content-featured {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 65%;
    margin: 0 auto;
}

.primary-featured,
.secondary-featured,
.third-featured {
    background-color: var(--white);
    /* border: 1.5px solid var(--red); */
    color: var(--red);
    border-radius: 30px 30px 0px 30px;
    width: 75%;
    height: 140px;
    padding: 24px;
    justify-self: center;
}

.primary-featured:hover,
.secondary-featured:hover,
.third-featured:hover {
    background-color: var(--red);
    color: var(--white);
}