.container-listticket {
    display: grid;
    width: 100%;
    height: 90%;
    background-color: var(--light-gray);
}

.content-listticket {
    display: grid;
    grid-template-columns: 1fr;
    width: 65%;
    height: 75%;
    margin: 0 auto;
    overflow: hidden;
}

.listticket {
    width: 600px;
    height: 400px;
    border-radius: 30px 30px 0px 30px;
    padding: 24px;
    color: var(--red);
    background-color: var(--white);
    margin: 30px auto;
}

.listticket p {
    font-size: 0.75em;
    margin: 14px auto;
    color: var(--dark-gray);
}

.listticket h2 {
    text-align: center;
}

.part-list {
    width: 30%;
    float: left;
    text-align: end;
    padding: 20px;
}

.part-atribute {
    padding: 20px;
}

.btn-cancel {
    color: var(--white);
    text-align: center;
    width: 160px;
    height: 20px;
    border-radius: 40px;
    background-color: var(--red);
}

.justify-center {
    justify-self: center;
    align-self: center;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: var(--white);
    background-color: var(--dark-gray);
}