.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "leftdiv rigthdiv" "leftdiv rigthdiv";
}

.content-left {
  grid-area: leftdiv;
  background-color: var(--dark-gray);
  height: 100%;
  width: 50%;
  position: absolute;
}

.content-rigth {
  grid-area: rigthdiv;
  background-color: var(--white);
  height: 100%;
  width: 50%;
  position: relative;
  float: right;
}

.logo {
  width: 280px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.login {
  margin-top: 50%;
  width: 566px;
  margin: 20%;
}

.login span {
  font-size: 14pt;
}

.login input {
  width: 566px;
  border-bottom: 1px solid var(--dark-gray);
}

.btn-entrar {
  color: var(--white);
  background-color: var(--dark-gray);
  width: 260px;
  height: 40px;
  border-radius: 25px;
  text-align: center;
  font-size: 14pt;
  padding-top: 15px;
  margin-top: -10%;
}