.content-left {
    background-color: var(--dark-gray);
    height: 100%;
    width: 50%;
    position: absolute;
}

.content-rigth {
    background-color: var(--white);
    height: 100%;
    width: 50%;
    position: relative;
    float: right;
}

.content-login {
    display: grid;
    width: 100%;
    height: 100%;
    align-content: center;
}

.logo {
    width: 220px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.login {
    margin: 0 120px;
    font-size: 1em;
}

.login input {
    margin-top: 20px;
    text-transform: lowercase;
    width: 100%;
    height: 20px;
    border-bottom: 1.1pt solid var(--dark-gray);
}

.login p {
    margin-top: 20px;
    color: var(--dark-gray);
}

.login label {
    text-transform: uppercase;
}

#recover-pass {
    color: var(--dark-gray);
    margin: 0 auto;
    font-size: 0.75em;
    text-decoration: none;
}

.login .btn {
    display: grid;
    align-content: center;
    color: var(--white);
    background-color: var(--dark-gray);
    width: 180px;
    height: 26px;
    border-radius: 10px;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    margin: 40px auto;
}

.login ul {
    padding-top: 30px;
}

.login li {
    font-size: 0.7em;
    color: var(--red);
}

.login .btn-es {
    align-items: center;
    color: var(--white);
    background-color: var(--dark-gray);
    width: 299.3px;
    height: 26px;
    border-radius: 40px;
    text-align: center;
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    margin:40px auto;

}