.container-newticket {
    display: grid;
    width: 100%;
    height: 90%;
    background-color: var(--light-gray);
}

.content-newticket {
    display: grid;
    grid-template-columns: 1fr;
    width: 65%;
    height: 72.5%;
    margin: 0 auto;
    overflow: hidden;
}

.newticket {
    width: 620px;
    height: 400px;
    border-radius: 30px 30px 0px 30px;
    padding: 24px;
    color: var(--red);
    background-color: var(--white);
    margin: 30px auto;
}

.newticket p {
    font-size: 0.75em;
    margin: 14px auto;
    color: var(--dark-gray);
}

.newticket h2 {
    text-align: center;
}

.part-atribute {
    width: 30%;
    float: left;
    text-align: end;
    padding: 20px;
}

.part-input {
    padding: 22px;
}

.input {
    padding: 4px;
}

.justify-center {
    justify-self: center;
    align-self: center;
}

.btn-newticket {
    color: var(--white);
    text-align: center;
    width: 155px;
    height: 20px;
    border-radius: 40px;
    background-color: var(--red);
    margin: 0px 0px 0px 230px;
}

.input input,
select {
    background-color: var(--light-gray);
    width: 320px;
    height: 20px;
    border-radius: 40px;
    border: 0 none;
    outline: 0;
}

.newticket textarea {
    background-color: var(--light-gray);
    width: 300px;
    height: 120px;
    border-radius: 20px 20px 0px 20px;
    padding-right: 15px;
    margin-top: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: var(--white);
    background-color: var(--dark-gray);
}

.btn-cancel {
    color: var(--white);
    text-align: center;
    width: 155px;
    height: 20px;
    border-radius: 40px;
    background-color: var(--dark-gray);
    margin: 5px 0px 0px 0px;
}