@import url('https://fonts.googleapis.com/css?family=Quicksand:400, 500, 600, 700');

* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

.links {
  text-decoration: none;
}