.container-slider {
    display: grid;
    width: 100%;
    background-color: var(--light-gray);
}

.content-slider {
    display: grid;
    grid-template-columns: 1fr;
    width: 900px;
    height: 533px;
    margin: 0 auto;
    animation: slide 10s infinite;
    animation-direction: alternate;

}

.container-slider h1{
    text-align: center;
    padding: 40px;
    color: var(--dark-gray);
}

@keyframes slide {

    0%,
    30% {
        background-image: url(/static/images/1.png);
    }

    35%,
    65% {
        background-image: url(/static/images/2.png);
    }

    70%,
    100% {
        background-image: url(/static/images/3.png);
    }
}