.container-opticket {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--white);
    height: 80px;
    margin: 30px 30px 0 30px;
    align-content: center;
}

.select-filter {
    display: grid;
    grid-template-columns: 1fr;
    color: var(--dark-gray);
    background-color: var(--light-gray);
    width: 100px;
    height: 20px;
    border-radius: 20px;
    margin-left: 30px;
}

.content-search {
    display: grid;
    justify-items: end;
    margin-right: 30px;
}

.input-search {
    float: left;
    background-color: var(--light-gray);
    width: 200px;
    height: 20px;
    border-radius: 20px;
    margin-right: 5px;
}

.container-table {
    margin: 5px 30px 0 30px;
    background-color: var(--white);
    height: auto;
}

.content-table {
    padding: 30px;
}

.table-list {
    width: 100%;
    border-collapse: collapse;
}

.list-font {
    font-weight: 600;
}

.table-list th,
.table-list td {
    text-align: left;
    padding: 14px;
}

.table-list .btn-status {
    width: 120px;
    height: 30px;
    background-color: var(--dark-gray);
    color: var(--white);
    border-radius: 20px;
    text-align: center;
    margin: auto;
}

.table-list tr:nth-child(odd) {
    background-color: var(--light-gray);
}

#lupa {
    float: left;
    margin: 0px 0px 0px -25px;
}

#lupa:after {
    font-family: FontAwesome;
    font-size: 14px;
    color: var(--dark-gray);
    content: "\f002"
}