.container-opticket {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--white);
    height: 80px;
    margin: 30px 30px 0 30px;
    align-content: center;
}

.select-filter {
    display: grid;
    grid-template-columns: 1fr;
    color: var(--dark-gray);
    background-color: var(--light-gray);
    width: 100px;
    height: 20px;
    border-radius: 20px;
    margin-left: 30px;
}

.content-search {
    display: grid;
    justify-items: end;
    margin-right: 30px;
}

.input-search {
    float: left;
    background-color: var(--light-gray);
    width: 200px;
    height: 20px;
    border-radius: 20px;
    margin-right: 5px;
}

.container-table {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "list";
    margin: 5px 30px 0 30px;
    background-color: var(--white);
    height: auto;
}

.content-table {
    display: grid;
    grid-area: list;
    padding: 30px;
}

.table-list {
    width: 100%;
    border-collapse: collapse;
}

.list-font {
    font-weight: 600;
}

.table-list th,
.table-list td {
    text-align: left;
    padding: 14px;
}

.table-list a:visited,
a:link,
a:hover,
a:active {
    color: var(--dark-gray);
}

.table-list .btn-status {
    width: 120px;
    height: 30px;
    background-color: var(--dark-red);
    color: var(--white);
    border-radius: 20px;
    text-align: center;
    margin: auto;
}

.table-list .btn-status2 {
    width: 120px;
    height: 30px;
    background-color: var(--green);
    color: var(--white);
    border-radius: 20px;
    text-align: center;
    margin: auto;
}

.table-list .btn-status3 {
    width: 120px;
    height: 30px;
    background-color: var(--yellow);
    color: var(--dark-gray);
    border-radius: 20px;
    text-align: center;
    margin: auto;
}

.table-list tr:nth-child(odd) {
    background-color: var(--light-gray);
}

#lupa {
    float: left;
    margin: 0px 0px 0px -25px;
}

#lupa:after {
    font-family: FontAwesome;
    font-size: 14px;
    color: var(--dark-gray);
    content: "\f002"
}

.pagination {
    text-align: right;
    margin-top: 1em;
    padding: 30px;
}

.pagination-action {
    margin: 0 0.1em;
    padding: 0.6em;
    color: var(--dark-gray);
}

.pagination-number {
    background-color: var(--gray);
    padding: 0.2em 1.4em;
    color: var(--white);
    border-radius: 18px;
}

.pagination-number:hover,
.pagination-current {
    background-color: var(--dark-gray);
}

.pagination-action:hover {
    color: var(--dark-red);
}

/* remover setas input number*/
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    cursor: pointer;
    display: block;
    width: 8px;
    color: #333;
    text-align: center;
    position: relative;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}