.container {
    display: grid;
    width: 100%;
    height: 380px;
    background-color: var(--dark-gray);
}

.content-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "about isometric""ticket isometric";
    width: 65%;
    margin: 0 auto;
    align-content: center;
}

.content-body h1 {
    grid-area: about;
    margin-top: 100px;
    color: var(--white);
    align-content: center;
    text-decoration: none;

}

.btn-ticket {
    grid-area: ticket;
    font-size: 1.8em;
    color: var(--white);
    text-align: center;
    width: 160px;
    height: 40px;
    border-radius: 40px;
    background-color: var(--red);
}

.icon {
    grid-area: isometric;
    width: 360px;
    justify-self: end;
    padding-bottom: 20px;

}

.about {
    background-color: var(--light-gray);
    color: var(--dark-gray);
    text-align: center;
    padding-top: 80px;
    padding-bottom: 60px;
}