.btn-new {
    width: 160px;
    background-color: var(--red);
    color: var(--white);
    border-radius: 20px;
    text-align: center;
    padding: 5px;
    margin: 30px;
}

.icon-user {
    width: 20px;
    padding-right: 10px;
}