{% extends 'basedashboard.html' %}

{% block titulo %} RELATÓRIOS {% endblock %}

{% block main %}

<div class="container-title-report">
	<h3 class="title-report"> Relátorios de Tickets </h3>
</div>
<div class="container-report">
    <div class="content-report">
        <div class="grafico-linha">
            <canvas id="grafico_linha"></canvas>
        </div>
        <div class="grafico-pizza">
            <canvas id="grafico_pizza"></canvas>
        </div>
    </div>
</div>
<script>
    var ctx = document.getElementById("grafico_pizza");
    var total = JSON.parse('{{ total|safe }}');
    var productsChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Novo', 'Aberto', 'Fechado'],
            datasets: [{
                label: 'Produtos',
                data: total,
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                ],
                borderWidth: 1
            }]
        },

    });

    var ctz = document.getElementById("grafico_linha");
    var productsChart = new Chart(ctz, {
        type: 'line',
        data: {
            labels: ["Janeiro","Fevereiro","Março","Abril","Maio","Junho","Julho","Agosto","Setembro","Outubro","Novembro","Dezembro"],
            datasets: [{
                label: 'Novo',
                data: [65,59,80,81,56,55,40],
                fill: false,
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                ],
                lineTension: 0.3
            },{
                label: 'Aberto',
                data: [70,40,85,80,96,51,49],
                fill: false,
                backgroundColor: [
                    'rgba(54, 162, 235, 1)',
                ],
                borderColor: [
                    'rgba(54, 162, 235, 1)',
                ],
                lineTension: 0.3 
            },{
                label: 'Fechado',
                data: [100,110,50,90,20,70,72],
                fill: false,
                backgroundColor: [
                    'rgba(255, 206, 86, 1)',
                ],
                borderColor: [
                    'rgba(255, 206, 86, 1)',
                ],
                lineTension: 0.3
            }]
            
        },

    });

</script>
{% endblock %}