
<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<title> Helpdesk </title>
		<meta name="viewport" content="width=device-width, inital-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="{% static 'css/reset.css' %}">
		<link rel="stylesheet" href="{% static 'css/colors.css' %}">
        <link rel="stylesheet" href="{% static 'css/basedashboard.css' %}">
	</head>
	<body>
        <div class="container">
            <div class="content-dash">
                <div class="profile-admin">
                    <div class="photo-admin">
                    </div>
                    <h4>Administrador</h4>
                </div>
                <div class="menu">
                    <a href="#">
                        <div class="option">
                            <img class="icon" src="{% static 'images/icon01.png' %}"> 
                            <p>TICKETS</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="option">
                            <img class="icon" src="{% static 'images/icon02.png' %}"> 
                            <p>RELATÓRIOS</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="option">
                            <img class="icon" src="{% static 'images/icon03.png' %}"> 
                            <p>USUÁRIOS</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="option">
                            <img class="icon" src="{% static 'images/icon04.png' %}"> 
                            <p>PERFIL</p>
                        </div>
                    </a>
                    <a href="#">
                        <div class="option">
                            <img class="icon" src="{% static 'images/icon05.png' %}"> 
                            <p>AJUSTES</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="container-body">
                <div class="content-nav">
                    <div class="notification-part">
                        <a href="#">
                            <img class="icon-nav" src="{% static 'images/icon-notification.png' %}">
                        </a>
                    </div>
                    <div class="logout-part">
                        <a href="{% url 'logout' %}">
                            <img class="icon-nav" src="{% static 'images/icon-logout.png' %}">
                        </a>
                    </div>
                </div>
                <div class="content-title">
                    <div class="title-option">
                        <h3>{% block titulo  %} {% endblock %}</h3>
                    </div>
                </div>
                <div class="content-list">
                {% block main %}

                {% endblock %}
                </div>
            </div>
        </div>
	</body>
</html>