{% extends 'basedashboard.html' %}

{% block titulo  %} TICKETS {% endblock %}

{% block main %}

<div class="container-opticket">
   
    <div class="content-filter">
        <select class="select-filter" id="status" onchange="myFunction()">
            <option value="0">filtrar</option>
            <option value="1">novo</option>
            <option value="2">resolvido</option>
            <option value="3">em progresso</option>
        </select>
    </div>
    
    <div class="content-search">
        <form class="search" action="{% url 'pesquisa' %}" method="GET">
            <input class="input-search" type="number" name="id" value="{{ id }}">
            <div id="lupa"></div>
        </form>
    </div>
</div>

<div class="container-table">
    <div class="content-table">
        <table class="table-list">
            {% for ticket in tickets %}
            <tr>
                <td class="list-font">
                    <a href="{% url 'details' ticket.id %}"> 
                        # {{ ticket.id }} - {{ ticket.nome_completo }} <br>
                    </a>
                    Atribuido: ** 
                </td>
                <td class="list-font"> 
                    Categoria: {{ ticket.categoria.nome }} 
                </td>
                <td>
                    {% if ticket.status == '1' %}
                        <div class="btn-status">
                        {{ ticket.get_status_display }} 
                        </div>
                    {% elif ticket.status == '2' %}
                        <div class="btn-status2">
                            {{ ticket.get_status_display }} 
                        </div>
                    {% elif ticket.status == '3' %}
                        <div class="btn-status3">
                            {{ ticket.get_status_display }} 
                        </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
        
    <div class="pagination">
        {% if tickets.has_previous %}
            <a class="pagination-action" href="?page={{tickets.previous_page_number}} "> <i class="fas fa-angle-left"></i></a>
        {% endif %}

        {% for num in tickets.paginator.page_range %} 
            {% if tickets.number == num %}
                <span class="pagination-number pagination-current">{{num}}</span>
            {% elif num > tickets.number|add:'-3' and num < tickets.number|add:'3' %}
                <a class="pagination-number" href="?page={{num}}&filter={{filter}}">{{num}}</a>
            {% endif %}
        {% endfor %}

        {% if tickets.has_next %}
            <a class="pagination-action" href="?page={{tickets.next_page_number}}"> <i class="fas fa-angle-right"></i> </a>
            <a class="pagination-action" href="?page={{tickets.paginator.num_pages}}"> <i class="fas fa-angle-double-right"></i></a>
        {% endif %}
    </div>
</div>

<script>
    function myFunction() {
       
        var x = document.getElementById("status").value;
        location.href = "{% url 'inicial' %}?filter=" + x;

    }
</script>

{% endblock %}