<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<title> Helpdesk </title>
		<meta name="viewport" content="width=device-width, inital-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="{% static 'css/reset.css' %}">
		<link rel="stylesheet" href="{% static 'css/colors.css' %}">
        <link rel="stylesheet" href="{% static 'css/basedashboard.css' %}">
	</head>
	<body>
        <div class="container">
            <div class="content-dash">
                <div class="profile-admin">
                    <div class="photo-admin">
                    </div>
                    <h4>Administrador</h4>
                </div>
            <div class="menu">
                <div class="option">
                    <img class="icon" src="{% static 'images/icon01.png' %}"> 
                    <p>TICKETS</p>
                </div>
                <div class="option">
                    <img class="icon" src="{% static 'images/icon02.png' %}"> 
                    <p>RELATÓRIOS</p>
                </div>
                <div class="option">
                    <img class="icon" src="{% static 'images/icon03.png' %}"> 
                    <p>USUÁRIOS</p>
                </div>
                <div class="option">
                    <img class="icon" src="{% static 'images/icon04.png' %}"> 
                    <p>PERFIL</p>
                </div>
                <div class="option">
                    <img class="icon" src="{% static 'images/icon05.png' %}"> 
                    <p>AJUSTES</p>
                </div>
            </div>
            </div>
            <div class="content-nav">
            </div>
            <div class="content-title">
            
            </div>
        </div>
	</body>
</html>