<!DOCTYPE html>
{% load staticfiles %}
<html>
	<head>
		<meta charset="utf-8">
		<title> Helpdesk </title>
		<meta name="viewport" content="width=device-width, inital-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="{% static 'css/reset.css' %}">
		<link rel="stylesheet" href="{% static 'css/colors.css' %}">
        <link rel="stylesheet" href="{% static 'css/basedashboard.css' %}">
	</head>
	<body>
        <div class="container">
            <div class="content-dash">
                <div class="profile-admin">
                    <div class="photo-admin">
                    </div>
                    <h3>Administrador</h3>
                </div>
            <div class="menu">
                <div class="tickets">
                    <div class="icon">
                        <img src="{% static 'images/icon01.png' %}"> 
                    </div>
                    <h3>TICKETS</h3>
                </div>
                <div class="relatorios">
                    <h3>RELATÓRIOS</h3>
                </div>
                <div class="users">
                    <h3>USUÁRIOS</h3>
                </div>
                <div class="profile">
                    <h3>PERFIL</h3>
                </div>
                <div class="config">
                    <h3>AJUSTES</h3>
                </div>
            </div>
            </div>
            <div class="content-nav">
            </div>
            <div class="content-title">
            
            </div>
        </div>
	</body>
</html>