<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <title> Helpdesk </title>
      <meta name="viewport" content="width=device-width, inital-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" href="../static/css/reset.css">
      <link rel="stylesheet" href="../static/css/colors.css">
      <link rel="stylesheet" href="../static/css/nav.css">
      <link rel="stylesheet" href="../static/css/ticket.css">
      <link rel="stylesheet" href="../static/css/featured.css">
      <link rel="stylesheet" href="../static/css/about.css">
      <link rel="stylesheet" href="../static/css/contact.css">
      <link rel="stylesheet" href="../static/css/footer.css">
      <link rel="stylesheet" href="../static/css/slider.css">
</head>

<header class="header">
      <div class="content-header">
            <a href="./index.html">
                  <img class="logo" src="../static/images/logo.png">
            </a>
            <h4>contato</h4>
            <h4>sobre</h4>
            <a class="links" href="#">
                  <div class="btn-login">entrar</div>
            </a>
      </div>
</header>

<body>
      <div class="container">
            <div class="content-body">
                  <h1>Software Gratuito <br> para Atendimento <br> ao Cliente</h1>
                  <a class="links" href="{% url 'optionticket' %}">
                        <div class="btn-ticket">tickets</div>
                  </a>
                  <img class="icon" src="../static/images/icon.png">
            </div>
      </div>
      <div class="about">
            <h1>Organize sua equipe de atendimento ao cliente<br>
                  gratuitamente com nosso software.</h1>
      </div>
      <div class="container-featured">
            <div class="content-featured">
                  <div class="primary-featured">
                        <h3> Lorem ipsum </h3>
                        <p> Lorem ipsum</p>
                  </div>
                  <div class="secondary-featured">
                        <h3> Lorem ipsum </h3>
                        <p> Lorem ipsum</p>
                  </div>
                  <div class="third-featured">
                        <h3> Lorem ipsum </h3>
                        <p> Lorem ipsum</p>
                  </div>
            </div>
      </div>
      <div class="container-about">
            <div class="content-about">
                  <h1> Sobre </h1>
                  <h3> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                        nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                        Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel
                        illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui
                        blandit
                        praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                        Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                        nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                        nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat.
                        Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit, sed diam nonummy nibh euismod
                        tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                        nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</h3>
            </div>
      </div>

      <div class="container-slider">
            <h1> Sistema </h1>
            <div class="content-slider">
            </div>
      </div>

      <div class="container-contact">
            <h1 class="contact-title"> Contato </h1>
            <div class="content-contact">
                  <div class="photo" id="herbert"></div>
                  <div class="photo" id="johnny"></div>
                  <div class="photo" id="kalber"></div>
                  <div class="photo" id="gutho"></div>
                  <div class="photo" id="gabi"></div>
                  <p>Herbert Cordeiro<br>
                        Desenvolvedor e UX Designer</p>
                  <p>Johnny Menezes<br>
                        Desenvolvedor</p>
                  <p>Kalber Roberto<br>
                        Desenvolvedor</p>
                  <p>Guthyelvis Santos<br>
                        Desenvolvedor</p>
                  <p>Gabriela Andrade<br>
                        Desenvolvedora</p>
            </div>
            <div class="face"></div>
            <div class="git"></div>
            <h2 class="email">contato@helpdesk.com</h2>
      </div>
      <script type="text/javascript" src="src/js/index.js"></script>
</body>

<footer>
      <p>Copyright © 2018</p>
</footer>

</html>