<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <title> Helpdesk </title>
      <link rel="stylesheet" href="../static/css/reset.css">
      <link rel="stylesheet" href="../static/css/colors.css">
      <link rel="stylesheet" href="../static/css/nav.css">
      <link rel="stylesheet" href="../static/css/ticket.css">
</head>

<header class="header">
      <div class="content-header">
            <img class="logo" src="../static/images/logo.png">
            <h4>contato</h4>
            <h4>sobre</h4>
            <a href="#">
                  <div class="btn-login">entrar</div>
            </a>
      </div>
</header>

<body>
      <div class="container">
            <div class="content-body">
                  <h1>Software Gratuito <br> para Atendimento <br> ao Cliente</h1>
                  <div class="btn-ticket">tickets</div>
                  <img class="icon" src="../static/images/icon.png">
            </div>
      </div>

      <script type="text/javascript" src="./js/index.js"></script>
</body>