<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Helpdesk </title>
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/colors.css' %}">
    <link rel="stylesheet" href="{% static 'css/navticket.css' %}">
    <link rel="stylesheet" href="{% static 'css/optionticket.css' %}">
</head>

<header class="header">
    <div class="content-header">
        <a href="{% url 'home' %}">
            <img class="logo" src="{% static 'images/logo.png' %}">
        </a>
        <a href="#">
            <div class="btn-login">entrar</div>
        </a>
    </div>
</header>

<body>
    <div class="container-optionticket">
        <div class="content-optionticket">
            <div class="justify-center">
                <a class="links" href="{% url 'newticket' %}">
                    <div class="optionticket">
                        <div class="icon">
                            <img src="{% static 'images/addticket.png' %}">
                        </div>
                        <h2>Enviar um ticket</h2>
                        <p>Enviar um novo chamado para o nosso departamento de suporte.</p>
                    </div>
                </a>
                <a class="links" href="{% url 'searchticket' %}">
                    <div class="optionticket">
                        <div class="icon">
                            <img src="{% static 'images/viewticket.png' %}" >
                        </div>
                        <h2>Visualizar um ticket existente </h2>
                        <p>Visualizar chamados realizadas anteriormente. </p>
                    </div>
                </a>
            </div>
        </div>
        <footer>
            <p>Copyright © 2018</p>
        </footer>
    </div>
</body>

</html>